html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: "Rokkitt", serif;
    background: #E8E8E8;
    color: #4D4D4D;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: absolute;
    width: 100%;
    height: 50px;
    font-family: "Kanit", sans-serif;
    z-index: 1;
}

header .topbar {
    border-bottom: 4px solid #006494;
    background: #33C1FF;
    height: 100%;
}

header .button-container {
    margin-right: 10px;
    float: right;
}

header .topbar .button {
    display: inline-block;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    color: #4D4D4D;
    margin: 0px 16px;
    vertical-align: middle;
}

.title {
    color: #006494;
    font-family: "Kanit", sans-serif;
}

.container {
    display: block;
    padding: 16px;
}

.container::after,
.col-threequarter::after,
.col-fifth::after,
.col-quarter::after,
.col-third::after {
    content: "";
    display: table;
    clear: both;
}

.subtitle {
    color: #30526C;
    font-family: "Kanit", sans-serif;
    padding-bottom: 5px;
}

.subjects-icon {
    margin: 0px 5px;
    display: inline-block;
    height: 48px;
}

footer {
    width: 100%;
    height: 80px;
    padding: 10px 0px;
    background: #4D4D4D;
    margin-top: 32px;
    font-family: "Kanit", sans-serif;
    color: #E8E8E8;
}

footer::after {
    content: "";
    display: table;
    clear: both;
}

footer .copyright {
    float: left;
    padding: 0px 10px;
    line-height: 80px;
    vertical-align: middle;
}

footer .address {
    line-height: normal;
    vertical-align: middle;
}

footer .seidai {
    float: right;
    vertical-align: middle;
    padding: 0px 10px;
    line-height: 80px;
}

footer .seidai img {
    vertical-align: middle;
}

.section {
    display: block;
    padding-top: 128px;
}

.section::after {
    content: "";
    display: table;
    clear: both;
}

.center {
    text-align: center;
}


li {
    display: block;
}

.kids,
.teen,
.universitary,
.all,
.amateur {
    width: 10px;
    height: 1em;
    display: inline-block;
    margin-right: 3px;
}

.kids {
    background: #FEB45C;
}

.teen {
    background: #FA7921;
}

.universitary {
    background: #99C24D;
}

.all {
    background: #027BCE;
}

.amateur {
    background: #A9589A;
}

.table-margin {
    margin-left: 64px;
}

.color-code {
    width: 39px;
}

.float-left {
    float: left;
}

.tutor-photo {
    border-radius: 50%;
    background: #949494;
}

.section .button {
    padding: 10pt;
    background: #33C1FF;
    width: auto;
}

.section .button-holder {
    margin-top: 24pt;
}

.drop-down-button {
    cursor: pointer;
}

.complete {
    width: 100%;
}

.complete-h {
    height: 100%;
}

@media (min-width: 993px) {
    .col-half {
        width: 50%;
        display: inline-block;
    }
    
    .col-third {
        width: 33.333%;
        display: inline-block;
    }

    .col-quarter {
        width: 25%;
        display: inline-block;
    }

    .col-threequarter {
        width: 75%;
        display: inline-block;
    }

    .col-fifth {
        width: 20%;
        display: inline-block;
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    .col-half {
        width: 50%;
        display: inline-block;
    }
    
    .col-third {
        width: 33.333%;
        display: inline-block;
    }

    .col-quarter {
        width: 50%;
        display: inline-block;
    }

    .col-threequarter {
        width: 100%;
        display: inline-block;
    }

    .col-fifth {
        width: 50%;
        display: inline-block;
    }
}


@media (max-width: 600px) {
    .col-half,
    .col-third,
    .col-quarter,
    .col-threequarter,
    .col-fifth {
        width: 100%;
    }
}


/* Font Sizes */

.tiny {
    font-size: 10px !important;
}

.small {
    font-size: 12px !important;
}

.medium {
    font-size: 15px !important;
}

.large {
    font-size: 18px !important;
}

.xlarge {
    font-size: 24px !important;
}

.xxlarge {
    font-size: 36px !important;
}

.xxxlarge {
    font-size: 48px !important;
}

.jumbo {
    font-size: 64px !important;
}


header .logo {
    position: absolute;
    z-index: 2;
}

header .icon {
    padding: 10px;
    background: #006494;
}

header .sidebar {
    position: absolute;
    top: 50px;
    right: 0px;
    transition:0.3s;
    width: 0px;
    overflow: hidden;
}

header .sidebar .item {
    display: block;
    width: 268px;
    height: 46px;
    line-height: 46px;
    border: none;
    outline: 0;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    padding: 0px 16px;
    text-decoration: none;
}

/* Relative Displays */

.display-container {
    position: relative;
}

.display-topleft {
    position: absolute;
    left: 0;
    top: 0;
}
.display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}
.display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
}

.display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
}

.left {
    text-align: left;
}

.slideshow.active {
    display: inline-block;
}

.slideshow.inactive {
    display: none;
}

.banner {
    display: block;
    padding-top: 116px;
    height: 595.3px;
}

.back-buttons,
.forward-buttons {
    background: #8D8D8D77;
    cursor: pointer;
}

#slideshow {
    /*box-shadow: 0 0 40px -10px #000000;*/
    /*height: 595.3px;*/
}
